<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smarthealth.mapper.PlanGenerateRecordMapper">

    <resultMap id="recordMap" type="com.smarthealth.entity.PlanGenerateRecord">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="generateDate" column="generate_date"/>
        <result property="generateCount" column="generate_count"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="findByUserIdAndDate" resultMap="recordMap">
        SELECT * FROM plan_generate_record WHERE user_id = #{userId} AND generate_date = #{generateDate}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO plan_generate_record (user_id, generate_date, generate_count)
        VALUES (#{userId}, #{generateDate}, #{generateCount})
    </insert>

    <update id="updateCount">
        UPDATE plan_generate_record SET generate_count = #{generateCount} WHERE id = #{id}
    </update>
</mapper>
